
body {
    margin: 30px;
    background-color: #111115;
    color: white;
}

p {
    margin: 5px 0px;
}

/* Not supported on firefox :( */
p:has(> strong) {
    margin: 10px 0px;
}

ul {
    margin: 10px 0px;
    padding-left: 20px;

}

li {
    list-style: none;
}

li::before {
    content: '\2013  ';
}

sup {
    color: #cccccc;
}

